@import "../../sass/theme.scss";

.projectsContainer{
  background-color:$primaryBackground;
  height: auto;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .projectsTitleContainer{
      .projectsTitle{
          @include titleFont($title);
          color: $primaryTitle;
          text-align: center;
          padding: $large;
      }
  }
  .projectsMainContainer{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 30px;
  }
  .projectsDetailContainer{
      display: flex;
  }
}

.displayNone {
    display: none;
}

.alert-enter {
  opacity: 0;
  transform: scale(0.6);
}

.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 700ms, transform 700ms;
}

.alert-exit {
  opacity: 1;
}

.alert-exit-active {
  opacity: 0;
  transform: scale(0.6);
  transition: opacity 700ms, transform 700ms;
}

/* Ipads */
@media only screen and (min-width: 1000px) and (max-width: 1299px) {

  .projectsContainer{
    height: auto;
    min-height: 100vh;
    padding: $large 0px;
    .projectsTitleContainer{
        .projectsTitle{
            @include titleFont($titleIpad);
            padding: $medium;
        }
    }
    .projectsMainContainer{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: $medium;
        padding: $large 0px;
    }
  }

}

/* Phones */
@media only screen and (min-width: 200px) and (max-width: 600px) {

  .projectsContainer{
    height: auto;
    width: auto;
    .projectsTitleContainer{
        .projectsTitle{
            @include titleFont($titleIpad);
            padding: $medium;
        }
    }
    .projectsMainContainer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 20px;
        padding-bottom: $large;
    }
  }

}