@import "../../sass/theme.scss";

.aboutParContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 60px;
    max-width: 600px;
    .aboutPar{
        align-self: flex-start;
    }

    .aboutInnerParContainer{
        padding-bottom: $small;
        text-align: justify;
    }
    .aboutText{
        @include textFont($text);
        display: inline;
        color: $primaryText;
        text-align: justify;
    }
    .aboutBold{
        display: inline;
        font-weight: bold;
        margin: 0px;
        padding: 0px;
    }
    .aboutLogosContainer{
        display: flex;
        justify-content:center;
        margin: $small;
        img{
            margin: $small;
            width: 50px;
            height: 50px;
        }
    }
}
