// Colors

$main: #61193d;
$secondary: #ffffff;
$third: #de6325;
$primaryTitle: #95355B;
$secondaryTitle: #ffffff;
$thirdTitle: #212121;
$primaryText: #212121;
$secondaryText: #ffffff;
$primaryBackground: #ffffff;
$secondaryBackground: #61193d;
$thirdBackground:#f1ecea;
$red: #240016;

// Margin Padding

$xl: 60px;
$large: 30px;
$medium: 23px;
$small: 17px;
$extraSmall: 12px;

// Font Size

$title: 23px;
$text: 17px;
$button: 13px;

$titleIpad: 20px;
$textIpad: 16px;
$buttonIpad: 13px;

//Fonts

@mixin titleFont ($size) {
    font-size: $size;
    font-family: "Mulish", serif;
    letter-spacing: 5px;
    text-transform: uppercase;
}

@mixin textFont ($size) {
    font-size: $size;
    font-family: 'Anek Tamil', sans-serif;
}

@mixin navFont ($size) {
    font-size: $size;
    font-family: 'Mulish', sans-serif;
}

//Flex

@mixin flex($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: center;
}

@mixin flex2($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

//Button

@mixin button($size, $color, $background, $padding){
    font-size: $size;
    font-family: anton, sans-serif;
    color: $color;
    text-transform: uppercase;
    background-color: $background;
    letter-spacing: 3px;
    padding: $padding;
    border: 0px;
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        &:hover {
            cursor:pointer;
            color: $darkblue;
        }
        &:active {
            cursor:pointer;
            color: $darkblue;
            box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
        }
}