@import "../../sass/theme.scss";


.aboutParContainerLess{
    align-items: flex-start;
    max-width: 600px;
    margin: 0px 60px;
    .aboutInnerParContainer{
        padding-bottom: $small;
        text-align: justify;
    }
    .aboutText{
        display: inline;
        @include textFont($text);
        color: $primaryText;
        text-align: justify;
        margin: 0px;
        padding: 0px;
        
    }
    .aboutBold{
        display: inline;
        font-weight: bold;
        margin: 0px;
        padding: 0px;
        text-align: justify;
    }
}