@import "../../sass/theme.scss";

.skillsContainer{
    background-color: $secondaryBackground;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .skillsTitleContainer{
        .skillsTitle{
            @include titleFont($title);
            color: $secondaryTitle;
            text-align: center;
            padding: $large;
        }
    }
    .skillsImgContainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        div{
            img{
                width: 60px;
                margin: $small;
                transition: all 0.7s;
                &:hover{
                    transform: scale(1.2);
                }
            }
            p{
                @include textFont($text);
                color: $secondaryText;
                text-align: center;
                margin: 0px;
            }
        } 
    }
}

/* Ipads */
@media only screen and (min-width: 1000px) and (max-width: 1299px) {
    
    .skillsContainer{
        .skillsTitleContainer{
            .skillsTitle{
                @include titleFont($titleIpad);
                padding: $medium;
            }
        }
        .skillsImgContainer{
            div{
                img{
                    width: 50px;
                    margin: $small;
                }
                p{
                    @include textFont($textIpad);
                }
            } 
        }
    }

}


/* Small Ipad */
@media only screen and (min-width: 699px) and (max-width: 999px) {

    .skillsContainer{
        height: 65vh;
        .skillsTitleContainer{
            .skillsTitle{
                @include titleFont($titleIpad);
                padding: $medium;
            }
        }
        .skillsImgContainer{
            width: 80%;
            div{
                img{
                    width: 50px;
                    margin: $small;
                }
                p{
                    @include textFont($textIpad);
                }
            } 
        }
    }

}


/* Phones */
@media only screen and (min-width: 200px) and (max-width: 600px) {

    .skillsContainer{
        background-color: $secondaryBackground;
        height: auto;
        width: auto;
        padding: $xl 0px;
        .skillsTitleContainer{
            .skillsTitle{
                @include titleFont($titleIpad);
                padding: $medium;
            }
        }
        .skillsImgContainer{
            width: 90%;
            padding-bottom: $medium;
            div{
                img{
                    width: 50px;
                }
                p{
                    @include textFont($textIpad);
                }
            } 
        }
    }

}