@import "../../sass/theme.scss";

.aboutContainer{
    background-color: $primaryBackground;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    .aboutImgContainer{
        img{
            cursor: default;
            height: 500px;
        }
    }
    .aboutInfoContainer{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .aboutTitleContainer{
            .aboutTitle{
                @include titleFont($title);
                color: $primaryTitle;
                text-align: center;
                margin: $large;
                padding: 0px;
            }
        }
        .aboutParContainer{
            width: 30vw;
            .aboutText{
                @include textFont($text);
                color: $primaryText;
                text-align: justify;
            }
        }
        .aboutButtonContainer{
            margin: $large;
        }
    }
}

.aboutMore-enter {
    opacity: 0;
}

.aboutMore-enter-active {
    opacity: 1;
    transition: opacity 1s;
}

.aboutMore-exit {
    opacity: 0;
}

.aboutMore-exit-active {
    opacity: 1;
    transition: opacity 1s;
}