@import "../../sass/theme.scss";

.aboutContainer{
    background-color: $primaryBackground;
    min-height: 100vh;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .aboutImgContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            cursor: default;
            height: 500px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        }
    }
    .aboutInfoContainer{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 0px;
        .aboutTitleContainer{
            .aboutTitle{
                @include titleFont($title);
                color: $primaryTitle;
                text-align: center;
                margin: $large;
                padding: 0px;
            }
        }
        .aboutButtonContainer{
            margin: $large;
        }
    }
}

.aboutMore-enter {
    opacity: 0;
}

.aboutMore-enter-active {
    opacity: 1;
    transition: opacity 1s;
}

.aboutMore-exit {
    opacity: 0;
}

.aboutMore-exit-active {
    opacity: 1;
    transition: opacity 1s;
}