@import "../../sass/theme.scss";

.aboutContainer{
    background-image: url("../../assets/aboutWall.jpg");
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    min-height: 100vh;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px;
    
    .aboutInnerContainer{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        .aboutImgContainer{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                cursor: default;
                height: 500px;
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            }
        }
        .aboutInfoContainer{
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 30px 0px;
            .aboutTitleContainer{
                .aboutTitle{
                    @include titleFont($title);
                    color: $primaryTitle;
                    text-align: center;
                    margin-bottom: $large;
                    padding: 0px;
                }
            }
        }
    }
    
}

.aboutMore-enter {
    opacity: 0;
}

.aboutMore-enter-active {
    opacity: 1;
    transition: opacity 1s;
}

.aboutMore-exit {
    opacity: 0;
}

.aboutMore-exit-active {
    opacity: 1;
    transition: opacity 1s;
}

/* Ipads */
@media only screen and (min-width: 1000px) and (max-width: 1299px) {

    .aboutContainer{
        min-height: 100vh;
        height: auto;
        
        .aboutInnerContainer{

            .aboutImgContainer{
                img{
                    height: 350px;
                }
            }

            .aboutInfoContainer{
                padding: 10px 0px;
                .aboutTitleContainer{
                    .aboutTitle{
                        @include titleFont($titleIpad);
                        margin-bottom: $medium;
                    }
                }
            }
        }

    }

}

/* Small Ipad */
@media only screen and (min-width: 699px) and (max-width: 999px) {

    .aboutContainer{
        min-height: 100vh;
        height: auto;
        padding: $large 0px;
        
        .aboutInnerContainer{

            .aboutImgContainer{
                img{
                    height: 320px;
                }
            }

            .aboutInfoContainer{
                padding: 10px 0px;
                .aboutTitleContainer{
                    .aboutTitle{
                        @include titleFont($titleIpad);
                        margin-bottom: $medium;
                    }
                }
            }
        }
    }

}

/* Phones */
@media only screen and (min-width: 200px) and (max-width: 600px) {

    .aboutContainer{
        background-image: url("../../assets/aboutWallPhone.jpg");
        background-size: contain;
        background-repeat: repeat;
        background-position: center;

        min-height: 100vh;
        height: auto;
        width: auto;
        
        padding-bottom: $xl;
        padding-top: $large;
        
        .aboutInnerContainer{
            flex-direction: column-reverse;
            .aboutImgContainer{
                img{
                    height: 350px;
                }
            }
            .aboutInfoContainer{
                padding-top: 0px;
                .aboutTitleContainer{
                    .aboutTitle{
                        @include titleFont($titleIpad);
                        margin-bottom: $extraSmall;
                        padding: $medium;
                    }
                }
            }
        }
        
    }
    
}