@import "../../sass/theme.scss";

.homeContainer{
    overflow-y: hidden;
    .parallax{
        background-image: url("../../assets/wall1.png");
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        .whiteBorder{
            background-color: none;
            border: 4px solid $secondary;
            height: 60vh;
            width: 60vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            -webkit-box-shadow: 5px 5px 8px -1px rgba(0,0,0,0.31);
            -moz-box-shadow: 5px 5px 8px -1px rgba(0,0,0,0.31);
            box-shadow: 5px 5px 8px -1px rgba(0,0,0,0.31);

            .homeTitles{
                display: inline-block;
                .homeAnimation{
                    display: inline-block;
                    .homeTitle{
                        @include titleFont(40px);
                        color: $secondaryTitle;
                        text-align: center;
                        margin-bottom: $small;
                        margin-right: $small;
                    }
                    .homeTitle2{
                        @include titleFont(40px);
                        color: $secondaryTitle;
                        text-align: center;
                    }
                }
            }
            
            .homeSubtitleContainer{
                background-color: $third;
                border-radius: 2px;
                height: 30px;
                width: 450px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
                .homeSubtitle{
                    @include textFont($text);
                    text-transform: uppercase;
                    letter-spacing: 5px;
                    color: $secondaryTitle;
                    text-align: center;
                }

            }
        }
    }
    .wallpaper{
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: 4;
        bottom: 0;
    }
    .wallpaper2{
        position: absolute;
        width: 100%;
        z-index: 4;
        top: 0;
    }
    .wallpaper3{
        display: none;
    }
    .wallpaper4{
        display: none;
    }
}

/* Ipads */
@media only screen and (min-width: 1000px) and (max-width: 1299px) {

    .homeContainer{
        .parallax{
            .whiteBorder{
                .homeTitle{
                    @include titleFont(30px);
                }
                .homeSubtitleContainer{
                    height: 30px;
                    width: 400px;
                    @include textFont($textIpad);
                }
            }
        }
    }

}


/* Small Ipad */
@media only screen and (min-width: 699px) and (max-width: 999px) {

    .homeContainer{
        .parallax{
            .whiteBorder{
                height: 70vh;
                width: 70vw;
                .homeTitles{
                    .homeAnimation{
                        .homeTitle{
                            @include titleFont(25px);
                        }
                        .homeTitle2{
                            @include titleFont(25px);
                        }
                    }
                }
                .homeSubtitleContainer{
                    height: 23px;
                    width: 400px;
                    @include textFont($textIpad);
                }
            }
        }
    }

}

/* Phones */
@media only screen and (min-width: 200px) and (max-width: 600px) {

    .homeContainer{
        .parallax{
            background-image: url("../../assets/wall1phone.png");
            height: 100vh;
            .whiteBorder{
                background-color: none;
                border: 4px solid $secondary;
                height: 70vh;
                width: 80vw;
                .homeTitles{
                    .homeAnimation{
                        align-self: flex-start;
                        .homeTitle{
                            @include titleFont(30px);
                            width: 100%;
                            margin: $small $small 0px $small;
                            text-align: left;
                        }
                        .homeTitle2{
                            @include titleFont(30px);
                            width: 100%;
                            margin: 0px $small $small $small;
                            text-align: left;
                        }
                    }
                }

                .homeSubtitleContainer{
                    height: 60px;
                    width: 100%;
                    .homeSubtitle{
                        @include textFont($textIpad);
                        margin: $large;
                    }
    
                }
            }
        }
        .wallpaper{
            display: none;
        }
        .wallpaper2{
            display: none;
        }
        .wallpaper3{
            display: block;
            position: absolute;
            width: 100%;
            height: 100vh;
            z-index: 4;
            bottom: 0;
        }
        .wallpaper4{
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 4;
            top: 0;
        }
    }

}




