@import "../../sass/theme.scss";

.homeContainer{
    overflow-y: hidden;
    .parallax{
        background-image: url("../../assets/wall1.png");
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        .whiteBorder{
            background-color: none;
            border: 4px solid $secondary;
            height: 60vh;
            width: 60vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            -webkit-box-shadow: 5px 5px 8px -1px rgba(0,0,0,0.31);
            -moz-box-shadow: 5px 5px 8px -1px rgba(0,0,0,0.31);
            box-shadow: 5px 5px 8px -1px rgba(0,0,0,0.31);
    
            .homeTitle{
                @include titleFont(40px);
                color: $secondaryTitle;
                text-align: center;
                margin: $small;
            }
            
            .homeSubtitleContainer{
                background-color: $third;
                border-radius: 2px;
                height: 30px;
                width: 450px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
                .homeSubtitle{
                    @include textFont($text);
                    text-transform: uppercase;
                    letter-spacing: 5px;
                    color: $secondaryTitle;
                    text-align: center;
                }

            }
        }
    }
    .wallpaper{
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: 4;
        bottom: 0;
    }
    .wallpaper2{
        position: absolute;
        width: 100vw;
        z-index: 4;
        top: 0;
    }
}





