@import "../../sass/theme.scss";

.nav{
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 6;
    .navBar{
        .link{
            @include navFont($text);
            color: $secondaryText;
            text-transform: uppercase;
            margin: 0px $medium;
            text-decoration: none;
            cursor:pointer;
            &:hover {
                padding-bottom: 3px;
                border-bottom: 2px solid $secondaryText;
            }
        }
    }
    .lang{
        position: absolute;
        padding-top: 12px;
        top: 0;
        right: 0;
        .langContainer{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 0px $small;
            .langText {
                @include navFont($text);
                color: $secondaryText;
                text-transform: uppercase;
                margin: 0px $medium;
            }
            .toggle{
                cursor: pointer;
                text-indent: -9999px;
                width: 50px;
                height: 25px;
                background: $secondary;
                display: block;
                border-radius: 100px;
                position: relative;
                -webkit-box-shadow: -5px 5px 8px -1px rgba(0,0,0,0.31);
                -moz-box-shadow: -5px 5px 8px -1px rgba(0,0,0,0.31);
                box-shadow: -5px 5px 8px -1px rgba(0,0,0,0.31);
                .langSpan{
                    content: '';
                    position: absolute;
                    top: 2px;
                    left: 3px;
                    width: 20px;
                    height: 20px;
                    background: $main;
                    border-radius: 90px;
                    transition: 0.3s;
                }
                .langSpanActive {
                    left: calc(100% - 5px);
                    transform: translateX(-100%);
                }
            }
        }
    } 
    .navBarHamb{
        display:none;
    }
    .navBarActive{
        display:none; 
    } 
    .navBarInactive{
        display:none; 
    }
}

.activeNav{
    background-color: $red;
    z-index: 10;
}

.active {
    padding-bottom: 3px;
    border-bottom: 2px solid $secondaryText;
}

/* Ipads */
@media only screen and (min-width: 1000px) and (max-width: 1299px) {
  
    .nav{
        height: 40px;
        .navBar{
            .link{
                @include navFont($textIpad);
                margin: 0px $small;
            }
        }
        .lang{
            padding-top: 8px;
            top: 0;
            right: 0;
            .langContainer{
                padding: 0px $extraSmall;
                .langText {
                    @include navFont(12px);
                    margin: 0px $small;
                }
                .toggle{
                    width: 50px;
                    height: 25px;
                    .langSpan{
                        top: 2px;
                        left: 3px;
                        width: 20px;
                        height: 20px;
                    }
                    .langSpanActive {
                        left: calc(100% - 3px);
                        transform: translateX(-100%);
                    }
                }
            }
        } 
    }
    

}


/* Small Ipad */
@media only screen and (min-width: 699px) and (max-width: 999px) {

    .nav{
        height: 40px;
        align-items: center;
        justify-content: flex-start;
        .navBar{
            .link{
                @include navFont($textIpad);
                margin: 0px $extraSmall;
            }
        }
        .lang{
            padding-top: 8px;
            top: 0;
            right: 0;
            .langContainer{
                padding: 0px $extraSmall;
                .langText {
                    @include navFont(12px);
                    margin: 0px $small;
                }
                .toggle{
                    width: 50px;
                    height: 25px;
                    .langSpan{
                        top: 2px;
                        left: 3px;
                        width: 20px;
                        height: 20px;
                    }
                    .langSpanActive {
                        left: calc(100% - 3px);
                        transform: translateX(-100%);
                    }
                }
            }
        } 
    }

}


/* Phones */
@media only screen and (min-width: 200px) and (max-width: 600px) {

    .nav{
        background-color: transparent;
        position: fixed;
        top: 0;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: center;
        .navBar{
            display:none;
        }
        .navBarActive{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 100%;
            background-color: $main;
            padding: $small 0px;
            .link{
                @include navFont($textIpad);
                color: $secondaryText;
                text-transform: uppercase;
                margin: 7px $extraSmall;
                text-decoration: none;
                cursor:pointer;
                &:hover {
                    padding-bottom: 3px;
                    border-bottom: 2px solid $secondaryText;
                }
            }
        }
        .navBarInactive{
            display: none;
        }
        .lang{
            padding-top: 12px;
            .langContainer{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                padding: 0px $extraSmall;
                .langText {
                    @include navFont($textIpad);
                    margin: 0px $extraSmall;
                }
                .toggle{
                    width: 45px;
                    height: 20px;
                    .langSpan{
                        top: 2px;
                        left: 3px;
                        width: 15px;
                        height: 15px;
                    }
                    .langSpanActive {
                        left: calc(100% - 3px);
                        transform: translateX(-100%);
                    }
                }
            }
        } 
        .navBarHamb{
            display:block;
            .icon{
                font-size: 25px;
                padding: 12px;
                color: $secondary;
                cursor: pointer;
                svg{
                    margin: 0px;
                }
            }
        }   
    }
    .activeNav{
        background-color: $red;
        z-index: 10;
    }

}