@import "../../sass/theme.scss";

.footerContainer{
    height: 4vh;
    background-color: $red;
    padding: $small;
    p{
        @include textFont(15px);
        color: $thirdBackground;
        font-style: oblique;
        text-align: center;
        margin: 0px;
        letter-spacing:1px;
        a{
            color: $third;
            text-decoration: none;
            &:hover {
                text-decoration:underline
            }
        }
    }
}


/* Ipads */
@media only screen and (min-width: 699px) and (max-width: 1299px) {

    .footerContainer{
        height: 5vh;
        p{
            @include textFont(14px);
        }
    }

}

/* Phones */
@media only screen and (min-width: 200px) and (max-width: 600px) {

    .footerContainer{
        height: 4vh;
        p{
            @include textFont(12px);
        }
    } 
}